html,
body {
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  border: none;
}
a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  border: none;
}
a.df {
  cursor: default;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  border: none;
}
* {
  box-sizing: border-box;
  outline: none;
}
span {
  display: inline-block;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
ul,
ol {
  margin: 0;
  padding-left: 22px;
}
ul.decimal,
ol.decimal {
  list-style: decimal;
}
ul.disc,
ol.disc {
  list-style: disc;
}
ul.upper_alpha,
ol.upper_alpha {
  list-style: upper-alpha;
}
ul.cus,
ol.cus {
  list-style: none;
  padding: 0;
}
ul.cus > li,
ol.cus > li {
  position: relative;
  padding-left: 22px;
}
ul.cus > li::before,
ol.cus > li::before {
  content: attr(str);
  position: absolute;
  top: 0;
  left: 0;
}
ul.cus._gh > li::before,
ol.cus._gh > li::before {
  content: "(" attr(str) ")";
}
ul.cus._num > li:nth-child(n + 10),
ol.cus._num > li:nth-child(n + 10) {
  padding-left: 30px;
}
ul.none,
ol.none {
  list-style: none;
  padding: 0;
}
ul x,
ol x {
  font-weight: bold;
  font-size: 110%;
}
.clear::after {
  display: block;
  content: "";
  clear: both;
}
.vtc > * {
  vertical-align: middle;
}
.vtc::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.cp {
  cursor: pointer;
}
.dbma {
  display: block;
  margin: auto;
}
.slime {
  animation: 1.3s slime infinite;
}
.fx {
  display: flex;
}
.fw {
  flex-wrap: wrap;
}
.jcc {
  justify-content: center;
}
@keyframes slime {
  0%,
  90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.4, 1);
    -webkit-transform: translate(0, 5%) scaleY(1.1);
    transform: translate(0, 5%) scaleY(1.1);
  }
  45% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
    -webkit-transform: translate(0, -6%) scaleY(1);
    transform: translate(0, -6%) scaleY(1);
  }
  0%,
  to {
    -webkit-transform: translate(0, 6%) scaleY(0.9);
    transform: translate(0, 6%) scaleY(0.9);
  }
  90% {
    -webkit-transform: translate(0, 5%) scaleY(1);
    transform: translate(0, 5%) scaleY(1);
  }
}
@media (min-width: 1025px) {
  .up_lg_hide {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .lg_hide {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .up_md_hide {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .md_hide {
    display: none !important;
  }
}
@media (min-width: 577px) {
  .up_sm_hide {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .sm_hide {
    display: none !important;
  }
}
@media (min-width: 451px) {
  .up_ssm_hide {
    display: none !important;
  }
}
@media (max-width: 450px) {
  .ssm_hide {
    display: none !important;
  }
}
body {
  background-color: #bcbcbc;
}
.space_frame {
  font-size: 16px;
  letter-spacing: 1px;
  color: #73879c;
}
.fs0 {
  font-size: 0;
}
.bs {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.ctn1 {
  max-width: 1920px;
  margin: auto;
}
.btn1 {
  cursor: pointer;
  text-align: center;
}
.btn1:hover {
  opacity: 0.8;
}
.icon_50 {
  font-size: 50px;
  cursor: pointer;
}
.icon_40 {
  font-size: 40px;
  cursor: pointer;
}
.shield_frame {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
}
.shield_frame .shield_ctn {
  position: relative;
  padding: 20px;
  align-self: center;
  background-color: #ffffff;
}
.shield_frame .shoeld_x {
  position: absolute;
  top: 20px;
  right: 20px;
}
.shield_frame .shoeld_btn {
  padding-top: 40px;
  text-align: right;
}
.close_frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hambuger {
  width: 32px;
  height: 32px;
  position: absolute;
}
.el-select .el-input {
  width: 120px;
}
.lgi_frame {
  height: 100vh;
  font-size: 0;
  text-align: center;
}
.lgi_frame > * {
  vertical-align: middle;
}
.lgi_frame::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.lgi_frame > * {
  vertical-align: middle;
}
.lgi_frame::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.lgi_frame .lgi_logo {
  position: absolute;
  top: 0;
  left: 0;
}
.lgi_frame .lgi_ctn {
  font-size: 16px;
  width: 100%;
  display: inline-block;
  max-width: 500px;
}
.lgi_frame .lgi_ttl {
  font-size: 30px;
  letter-spacing: 3px;
  color: #1c5260;
  margin-bottom: 20px;
}
.lgi_frame .lgi_box {
  background-color: #f7f7f7;
  padding: 60px 60px 40px;
}
.lgi_frame .lgi_item {
  text-align: left;
}
.lgi_frame .lgi_item:not(:last-child) {
  margin-bottom: 30px;
}
.lgi_frame .lgi_item.last {
  padding-top: 20px;
  text-align: center;
}
.lgi_frame .lgi_item p {
  font-size: 20px;
  margin-bottom: 10px;
}
.header {
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #EDEDED;
  box-shadow: inset 0 -2px 0 0 #D9DEE4;
  z-index: 10;
}
.header .header_ctn {
  height: 50px;
}
.header .logo {
  float: left;
  height: 100%;
}
.header .nav_box {
  float: right;
}
.header .nav_item {
  float: left;
}
.header .nav_item:not(:last-child) {
  margin-right: 20px;
}
.header .user_box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #777777;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.body_frame {
  position: relative;
  height: calc(100vh - (50px + 5px*2));
  margin-top: 60px;
}
.body_frame .body_ctn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.side_ctn {
  background-color: #2A3F54;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
}
.side_ctn .side_box {
  padding: 15px 0;
  padding-left: 20px;
  color: #E7E7E7;
  font-size: 0;
}
.side_ctn .side_box > * {
  vertical-align: middle;
}
.side_ctn .side_box::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.side_ctn .side_box > * {
  vertical-align: middle;
}
.side_ctn .side_box::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.side_ctn .side_box .user_img_box {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 20px;
  box-shadow: 0 0 0 3px;
}
.side_ctn .side_box .user_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center;
  background-size: cover;
  border-radius: 50%;
}
.side_ctn .side_box .user_info {
  font-size: 16px;
}
.side_ctn .side_box .user_info .p1 {
  margin-bottom: 5px;
}
.side_ctn .side_item {
  position: relative;
  padding: 15px 0;
  padding-left: 20px;
  cursor: pointer;
  color: #E7E7E7;
  font-size: 16px;
  background-color: #2A3F54;
  font-size: 0;
}
.side_ctn .side_item > * {
  vertical-align: middle;
}
.side_ctn .side_item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.side_ctn .side_item > * {
  vertical-align: middle;
}
.side_ctn .side_item::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  font-size: 0;
}
.side_ctn .side_item:hover,
.side_ctn .side_item.active {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#445b72, #2C4257), #2A3F54;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
.side_ctn .side_item .icon {
  font-size: 25px;
}
.side_ctn .side_item .p1 {
  font-size: 16px;
  margin-left: 10px;
}
.page_frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  overflow-y: auto;
  background-color: #ffffff;
}
.user_frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.user_frame .tab_ctn {
  padding: 20px;
  padding-bottom: 0;
}
.user_frame .tab_item {
  width: 120px;
  padding: 10px 0;
  background-color: #dcdee0;
  border-radius: 10px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
}
.user_frame .tab_item:not(:last-child) {
  margin-right: 10px;
}
.user_frame .tab_item.active,
.user_frame .tab_item:hover {
  background-color: #1c5260;
  color: #ffffff;
}
.user_frame .query_ctn {
  padding: 10px 20px;
}
.user_frame .query_ctn > span {
  margin-right: 15px;
}
.user_frame .table_ctn {
  padding: 20px;
}
.user_frame .add_box {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 60px;
}
.modal_frame .modal_ctn {
  width: 90%;
  max-width: 1000px;
}
.modal_frame .modal_ttl {
  font-size: 25px;
  margin-bottom: 20px;
}
.modal_frame .modal_box {
  font-size: 0;
}
.modal_frame .modal_box:not(:last-child) {
  margin-bottom: 15px;
}
.modal_frame .modal_item {
  display: inline-block;
  width: 100%;
}
.modal_frame .modal_item,
.modal_frame .modal_item .el-input {
  font-size: 16px;
}
.modal_frame .modal_item:not(:last-child) {
  margin-right: 15px;
}
.modal_frame .modal_item._800 {
  max-width: 800px;
}
.modal_frame .modal_item._600 {
  max-width: 600px;
}
.modal_frame .modal_item._200 {
  max-width: 200px;
}
.modal_frame p.ttl {
  width: 100%;
  font-size: 20px;
  margin-bottom: 5px;
}
.modal_frame .role_item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  color: #1c5260;
  text-align: center;
  padding: 10px 0;
  width: 80px;
  float: left;
}
.modal_frame .role_item:not(:last-child) {
  margin-right: 3px;
}
.modal_frame .role_item.active,
.modal_frame .role_item:hover {
  background-color: #1c5260;
  color: #ffffff;
}
.modal_frame .hambuger {
  top: 15%;
  right: 2.5%;
}
.modal_frame .el-tag + .el-tag {
  margin-left: 10px;
}
.modal_frame .button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.modal_frame .input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.modal_frame ._H180 {
  position: relative;
  height: 180px;
  border-top: 1px solid #DCDFE6;
  border-bottom: 1px solid #DCDFE6;
}
.modal_frame ._H150 {
  position: relative;
  height: 100px;
}
.category_frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5%;
}
.category_frame .tab_ctn > * {
  display: inline-block;
}
.category_frame .tab_ctn .tab_title {
  color: #1c5260;
  font-weight: 700;
  margin-right: 56%;
}
.category_frame .tab_ctn .tab_search {
  width: 250px;
  height: 100%;
}
.category_frame .tab_ctn .tab_search .el-input__inner {
  border-radius: 24px;
}
.category_frame .category_ctn {
  overflow-x: hidden;
}
.category_frame .category_ctn .category_list {
  width: calc(100% + 17px);
  height: 650px;
  margin-top: 12px;
  overflow-y: scroll;
}
.category_frame .category_ctn .category_list .list {
  cursor: pointer;
  display: inline-block;
  width: 27.5%;
  margin: 10px 2.5%;
  text-align: center;
  font-weight: 700;
}
.category_frame .category_ctn .category_list .list .catalogue_img {
  display: inline-block;
  position: relative;
}
.category_frame .category_ctn .category_list .list .catalogue_img .hambuger {
  position: absolute;
  top: 5%;
  right: 5%;
}
.category_frame .category_ctn .category_list .list .catalogue_img img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.category_frame .category_ctn .category_list .list .catalogue_name {
  color: #1c5260;
}
.category_frame .category_ctn .category_list .list .catalogue_stoock {
  text-align: left;
}
.category_frame .category_ctn .category_list .list .catalogue_stoock.warrning {
  color: #F56C6C;
}
.category_frame .category_ctn .category_list .list .catalogue_stoock.stock {
  color: #E6A23C;
}
.category_frame .add_box {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 60px;
}
.category2_frame .category2_ctn {
  width: 90%;
  max-width: 1000px;
}
.category2_frame .category2_ttl {
  color: #144d85;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.category2_frame .category2_ttl .category2_subtitle {
  font-size: 14px;
}
.category2_frame .catalogue_stoock {
  text-align: left;
  display: inline-block;
  margin-left: 8px;
}
.category2_frame .catalogue_stoock.warrning {
  color: #F56C6C;
}
.category2_frame .category2_box {
  position: relative;
}
.category2_frame .category2_box .el-steps {
  max-width: 70%;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.category2_frame .category2_box .category2_form {
  display: inline-block;
  width: 60%;
  padding: 0 10px;
}
.category2_frame .category2_box .category2_form > * {
  margin-bottom: 10px;
}
.category2_frame .category2_box .category2_form ._H180 {
  width: 100%;
  overflow-x: scroll;
}
.category2_frame .category2_box .category2_form .category2_img {
  margin: auto;
}
.category2_frame .category2_box .category2_form .category2_img .el-avatar {
  margin-right: 2%;
  margin-bottom: 16px;
}
.category2_frame .category2_box .category2_form .category2_img.group {
  width: 50%;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar {
  margin-right: 0%;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar:first-of-type {
  width: 250px;
  height: 250px;
  display: block;
  margin-bottom: 10px;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar + * {
  width: 120px;
  height: 120px;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar + * + * {
  margin-left: 8px;
}
.category2_frame .category2_box .category2_form .status {
  color: #144d85;
}
.category2_frame .category2_box .category2_form .status .status_list li {
  width: 33%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #909399;
  margin-right: -1px;
}
.category2_frame .category2_box .category2_form .status .status_list li.active {
  background-color: #144d85;
  color: #ffffff;
}
.category2_frame .category2_box .category2_form .vendor .list li {
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  padding: 0;
  text-align: center;
  line-height: 150px;
  display: inline-block;
  margin-right: 8px;
}
.category2_frame .category2_box .category2_panels {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 100%;
  vertical-align: top;
}
.category2_frame .category2_box .category2_panels .hambuger {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 50%;
}
.category2_frame .category2_box .category2_panels .hambuger .del {
  border: none !important;
}
.category2_frame .category2_box .category2_panels .hambuger img {
  width: 40px;
  height: 40px;
}
.category2_frame .category2_box .category2_panels .el-textarea {
  margin-bottom: 20px;
}
.category2_frame .category2_box .category2_panels .btn_group {
  text-align: center;
}
.category2_frame .category2_box .category2_panels .btn_group > * {
  margin-bottom: 20px;
}
.category2_frame .category2_box .category2_panels .btn_group .w80 {
  display: block;
  width: 80%;
  margin: auto;
}
.category2_frame .category2_box .category2_panels .order_content .order_title {
  font-size: 20px;
}
.category2_frame .category2_box .category2_panels .order_content .order_price {
  color: #F56C6C;
  font-weight: 700;
}
.category2_frame .category2_box .category2_panels .order_content .order_type p {
  font-weight: 700;
}
.category2_frame .category2_box .category2_panels .textareaContent {
  text-align: left;
  width: 90%;
  margin: auto;
}
.category2_frame .category2_box .category2_panels .quote_container {
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  margin: auto;
}
.category2_frame .category2_box .category2_panels .quote_container > .title {
  background-color: #909399;
  color: #144d85;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}
.category2_frame .category2_box .category2_panels .quote_container .quote {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  width: 150px;
  height: 40px;
  color: #144d85;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  margin: 16px auto;
}
.category2_frame .category2_box .category2_panels .quote_list li {
  margin-bottom: 16px;
}
.category2_frame .category2_box .category2_panels .quote_list li > .title,
.category2_frame .category2_box .category2_panels .quote_list li .content {
  color: #144d85;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
}
.category2_frame .category2_box .category2_panels .quote_list li .title {
  width: 90px;
  position: relative;
}
.category2_frame .category2_box .category2_panels .quote_list li .title.sub {
  line-height: 1;
}
.category2_frame .category2_box .category2_panels .quote_list li .title.sub::before {
  content: attr(data-vendor);
  position: absolute;
  top: 15px;
  left: 5px;
}
.category2_frame .category2_box .category2_panels .quote_list li .content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  width: 150px;
  height: 40px;
}
.category2_frame .category2_box .category2_panels .quote_list li .btn-group {
  width: 150px;
  height: 40px;
  display: inline-block;
  text-align: center;
}
.category2_frame .category2_box .category2_panels .btn-group {
  margin: 16px auto;
  text-align: center;
}
.category2_frame .category2_box .category2_panels .msg {
  width: 90%;
  height: 40px;
  background-color: #909399;
  color: #000000;
  margin: auto;
  line-height: 40px;
}
.category2_frame .category2_box .category2_panels .msg > * {
  display: inline-block;
}
.category2_frame .category2_box .category2_panels .msg a {
  text-align: right;
  float: right;
  padding-right: 5px;
}
.category2_frame .category2_box .category2_type .el-tag + .el-tag {
  margin-left: 10px;
}
.category2_frame .category2_box .category2_type .button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.category2_frame .category2_box .category2_type .input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.category2_frame .category2_box .category2_sp_type .point {
  cursor: pointer;
  font-size: 24px;
  padding-left: 16px;
  vertical-align: sub;
}
.category2_frame .category2_box .category2_sp_type .add_panel .el-input {
  width: 150px;
}
.category2_frame .category2_box .type_list {
  font-size: 16px;
  list-style: none;
  padding: 0;
}
.category2_frame .category2_box .type_list.decima {
  list-style: decimal;
  padding-left: 22px;
}
.category2_frame .category2_box .type_list.decima li > .type,
.category2_frame .category2_box .type_list.decima li .content {
  width: 150px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.category2_frame .category2_box .type_list li {
  font-weight: 700;
  margin-bottom: 12px;
}
.category2_frame .category2_box .type_list li > .type,
.category2_frame .category2_box .type_list li .content {
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}
.category_frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5%;
}
.category_frame .tab_ctn > * {
  display: inline-block;
}
.category_frame .tab_ctn .tab_title {
  color: #1c5260;
  font-weight: 700;
  margin-right: 56%;
}
.category_frame .tab_ctn .tab_search {
  width: 250px;
  height: 100%;
}
.category_frame .tab_ctn .tab_search .el-input__inner {
  border-radius: 24px;
}
.category_frame .category_ctn {
  overflow-x: hidden;
}
.category_frame .category_ctn .category_list {
  width: calc(100% + 17px);
  height: 650px;
  margin-top: 12px;
  overflow-y: scroll;
}
.category_frame .category_ctn .category_list .list {
  cursor: pointer;
  display: inline-block;
  width: 27.5%;
  margin: 10px 2.5%;
  text-align: center;
  font-weight: 700;
}
.category_frame .category_ctn .category_list .list .catalogue_img {
  display: inline-block;
  position: relative;
}
.category_frame .category_ctn .category_list .list .catalogue_img .hambuger {
  position: absolute;
  top: 5%;
  right: 5%;
}
.category_frame .category_ctn .category_list .list .catalogue_img img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.category_frame .category_ctn .category_list .list .catalogue_name {
  color: #1c5260;
}
.category_frame .category_ctn .category_list .list .catalogue_stoock {
  text-align: left;
}
.category_frame .category_ctn .category_list .list .catalogue_stoock.warrning {
  color: #F56C6C;
}
.category_frame .category_ctn .category_list .list .catalogue_stoock.stock {
  color: #E6A23C;
}
.category_frame .add_box {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 60px;
}
.category2_frame .category2_ctn {
  width: 90%;
  max-width: 1000px;
}
.category2_frame .category2_ttl {
  color: #144d85;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.category2_frame .category2_ttl .category2_subtitle {
  font-size: 14px;
}
.category2_frame .catalogue_stoock {
  text-align: left;
  display: inline-block;
  margin-left: 8px;
}
.category2_frame .catalogue_stoock.warrning {
  color: #F56C6C;
}
.category2_frame .category2_box {
  position: relative;
}
.category2_frame .category2_box .el-steps {
  max-width: 70%;
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.category2_frame .category2_box .category2_form {
  display: inline-block;
  width: 60%;
  padding: 0 10px;
}
.category2_frame .category2_box .category2_form > * {
  margin-bottom: 10px;
}
.category2_frame .category2_box .category2_form ._H180 {
  width: 100%;
  overflow-x: scroll;
}
.category2_frame .category2_box .category2_form .category2_img {
  margin: auto;
}
.category2_frame .category2_box .category2_form .category2_img .el-avatar {
  margin-right: 2%;
  margin-bottom: 16px;
}
.category2_frame .category2_box .category2_form .category2_img.group {
  width: 50%;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar {
  margin-right: 0%;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar:first-of-type {
  width: 250px;
  height: 250px;
  display: block;
  margin-bottom: 10px;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar + * {
  width: 120px;
  height: 120px;
}
.category2_frame .category2_box .category2_form .category2_img.group .el-avatar + * + * {
  margin-left: 8px;
}
.category2_frame .category2_box .category2_form .status {
  color: #144d85;
}
.category2_frame .category2_box .category2_form .status .status_list li {
  width: 33%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #909399;
  margin-right: -1px;
}
.category2_frame .category2_box .category2_form .status .status_list li.active {
  background-color: #144d85;
  color: #ffffff;
}
.category2_frame .category2_box .category2_form .vendor .list li {
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  padding: 0;
  text-align: center;
  line-height: 150px;
  display: inline-block;
  margin-right: 8px;
}
.category2_frame .category2_box .category2_panels {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 100%;
  vertical-align: top;
}
.category2_frame .category2_box .category2_panels .hambuger {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 50%;
}
.category2_frame .category2_box .category2_panels .hambuger .del {
  border: none !important;
}
.category2_frame .category2_box .category2_panels .hambuger img {
  width: 40px;
  height: 40px;
}
.category2_frame .category2_box .category2_panels .el-textarea {
  margin-bottom: 20px;
}
.category2_frame .category2_box .category2_panels .btn_group {
  text-align: center;
}
.category2_frame .category2_box .category2_panels .btn_group > * {
  margin-bottom: 20px;
}
.category2_frame .category2_box .category2_panels .btn_group .w80 {
  display: block;
  width: 80%;
  margin: auto;
}
.category2_frame .category2_box .category2_panels .order_content .order_title {
  font-size: 20px;
}
.category2_frame .category2_box .category2_panels .order_content .order_price {
  color: #F56C6C;
  font-weight: 700;
}
.category2_frame .category2_box .category2_panels .order_content .order_type p {
  font-weight: 700;
}
.category2_frame .category2_box .category2_panels .textareaContent {
  text-align: left;
  width: 90%;
  margin: auto;
}
.category2_frame .category2_box .category2_panels .quote_container {
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  margin: auto;
}
.category2_frame .category2_box .category2_panels .quote_container > .title {
  background-color: #909399;
  color: #144d85;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}
.category2_frame .category2_box .category2_panels .quote_container .quote {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  width: 150px;
  height: 40px;
  color: #144d85;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  margin: 16px auto;
}
.category2_frame .category2_box .category2_panels .quote_list li {
  margin-bottom: 16px;
}
.category2_frame .category2_box .category2_panels .quote_list li > .title,
.category2_frame .category2_box .category2_panels .quote_list li .content {
  color: #144d85;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
}
.category2_frame .category2_box .category2_panels .quote_list li .title {
  width: 90px;
  position: relative;
}
.category2_frame .category2_box .category2_panels .quote_list li .title.sub {
  line-height: 1;
}
.category2_frame .category2_box .category2_panels .quote_list li .title.sub::before {
  content: attr(data-vendor);
  position: absolute;
  top: 15px;
  left: 5px;
}
.category2_frame .category2_box .category2_panels .quote_list li .content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  width: 150px;
  height: 40px;
}
.category2_frame .category2_box .category2_panels .quote_list li .btn-group {
  width: 150px;
  height: 40px;
  display: inline-block;
  text-align: center;
}
.category2_frame .category2_box .category2_panels .btn-group {
  margin: 16px auto;
  text-align: center;
}
.category2_frame .category2_box .category2_panels .msg {
  width: 90%;
  height: 40px;
  background-color: #909399;
  color: #000000;
  margin: auto;
  line-height: 40px;
}
.category2_frame .category2_box .category2_panels .msg > * {
  display: inline-block;
}
.category2_frame .category2_box .category2_panels .msg a {
  text-align: right;
  float: right;
  padding-right: 5px;
}
.category2_frame .category2_box .category2_type .el-tag + .el-tag {
  margin-left: 10px;
}
.category2_frame .category2_box .category2_type .button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.category2_frame .category2_box .category2_type .input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.category2_frame .category2_box .category2_sp_type .point {
  cursor: pointer;
  font-size: 24px;
  padding-left: 16px;
  vertical-align: sub;
}
.category2_frame .category2_box .category2_sp_type .add_panel .el-input {
  width: 150px;
}
.category2_frame .category2_box .type_list {
  font-size: 16px;
  list-style: none;
  padding: 0;
}
.category2_frame .category2_box .type_list.decima {
  list-style: decimal;
  padding-left: 22px;
}
.category2_frame .category2_box .type_list.decima li > .type,
.category2_frame .category2_box .type_list.decima li .content {
  width: 150px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.category2_frame .category2_box .type_list li {
  font-weight: 700;
  margin-bottom: 12px;
}
.category2_frame .category2_box .type_list li > .type,
.category2_frame .category2_box .type_list li .content {
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}
